@model Library.Models.BorrowList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BorrowList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LateReturningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LateReturningDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
